##### Data in  "/data/shlok/data"

------------------------------------------------------------------------------------------------------------------------------------------------------------

In [72]:
import pandas as pd
import torch
df = pd.read_parquet('/data/shlok/data/full/001_Forbes.parquet')
# print(df.head(1))
# print(df.dtypes)
df.head(1)

,rank,personName,age,finalWorth,category,source,country,state,city,organization,selfMade,gender,birthDate,title,philanthropyScore,bio,about
0,1,Elon Musk,50.0,219000,Automotive,"Tesla, SpaceX",United States,Texas,Austin,Tesla,True,M,1971-06-28 00:00:00+00:00,CEO,1.0,Elon Musk is working to revolutionize transpor...,Musk was accepted to a graduate program at Sta...

In [73]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

from table_bert import TableBertModel
model = TableBertModel.from_pretrained(
    '/data/ankur/TaBERT/tabert_large_k3/model.bin',
).to(device)

In [81]:
from table_bert import Table, Column
import pandas as pd
import torch

# Load your DataFrame
df = pd.read_parquet('/data/shlok/data/full/001_Forbes.parquet')

# Convert all categorical columns to object (string type)
for col in df.select_dtypes(include='category').columns:
    df[col] = df[col].astype(str)

# Now, fill NaNs and convert all data to strings
data = df.fillna('').astype(str).values.tolist()

# Function to map pandas dtypes to table_bert types
def map_dtype(dtype):
    if pd.api.types.is_numeric_dtype(dtype):
        return 'real'
    else:
        return 'text'

# Create header (list of Column objects) with sample values
header = []
for col in df.columns:
    dtype = map_dtype(df[col].dtype)
    sample_value = df[col].dropna().iloc[0]  # First non-null value as sample
    header.append(Column(col, dtype, sample_value=str(sample_value)))

# Create the Table object and tokenize it using the model's tokenizer
table = Table(
    id='001_Forbes',
    header=header,
    data=data
).tokenize(model.tokenizer)

# Define the context for the model
context = 'Name the richest person'

# Encode the context and table using the model
context_encoding, column_encoding, info_dict = model.encode(
    contexts=[model.tokenizer.tokenize(context)],
    tables=[table]
)


# input_ids = info_dict['tensor_dict']['input_ids']
# segment_ids = info_dict['tensor_dict']['segment_ids']
# context_token_positions = info_dict['tensor_dict']['context_token_positions']
# column_token_position_to_column_ids = info_dict['tensor_dict']['column_token_position_to_column_ids']
# sequence_mask = info_dict['tensor_dict']['sequence_mask']
# context_token_mask = info_dict['tensor_dict']['context_token_mask']
# table_mask = info_dict['tensor_dict']['table_mask']
# column_mask = info_dict['tensor_dict']['column_mask']
# instances = info_dict['instances']

In [77]:
outputs = model(input_ids,segment_ids,context_token_positions, column_token_position_to_column_ids, sequence_mask, context_token_mask, table_mask)

RuntimeError: invalid argument 0: Tensors must have same number of dimensions: got 3 and 2 at /tmp/pip-req-build-ocx5vxk7/aten/src/THC/generic/THCTensorMath.cu:62

In [80]:
info_dict

{'tensor_dict': {'input_ids': tensor([[[  101,  2171,  1996, 18429,  2711,   102,  4635,  1064,  2613,  1064,
             1015,   102,  2711, 18442,  1064,  3793,  1064,  3449,  2239, 14163,
             6711,   102,  2287,  1064,  2613,  1064,  2753,  1012,  1014,   102,
             2345,  5172,  1064,  2613,  1064, 20636,  8889,  2692,   102,  4696,
             1064,  3793,  1064, 12945,   102,  3120,  1064,  3793,  1064, 26060,
             1010,  2686,  2595,   102,  2406,  1064,  3793,  1064,  2142,  2163,
              102,  2110,  1064,  3793,  1064,  3146,   102,  2103,  1064,  3793,
             1064,  5899,   102,  3029,  1064,  3793,  1064, 26060,   102,  2969,
            21565,  1064,  2613,  1064,  2995,   102,  5907,  1064,  3793,  1064,
             1049,   102,  4182, 13701,  1064,  3793,  1064,  3411,  1011,  5757,
             1011,  2654,   102,  2516,  1064,  3793,  1064,  5766,   102, 29291,
             9363,  2890,  1064,  2613,  1064,  1015,  1012,  1014,   102, 16012,
             1064,  3793,  1064,  3449,  2239, 14163,  6711,  2003,   102,  2055,
             1064,  3793,  1064, 14163,  6711,  2001,  3970,  2000,   102,     0,
                0,     0,     0],
           [  101,  2171,  1996, 18429,  2711,   102,  4635,  1064,  2613,  1064,
             1016,   102,  2711, 18442,  1064,  3793,  1064,  5076,  2022, 28370,
              102,  2287,  1064,  2613,  1064,  5388,  1012,  1014,   102,  2345,
             5172,  1064,  2613,  1064, 23841,  8889,   102,  4696,  1064,  3793,
             1064,  2974,   102,  3120,  1064,  3793,  1064,  9733,   102,  2406,
             1064,  3793,  1064,  2142,  2163,   102,  2110,  1064,  3793,  1064,
             2899,   102,  2103,  1064,  3793,  1064,  5862,   102,  3029,  1064,
             3793,  1064,  9733,   102,  2969, 21565,  1064,  2613,  1064,  2995,
              102,  5907,  1064,  3793,  1064,  1049,   102,  4182, 13701,  1064,
             3793,  1064,  3546,  1011,  5890,  1011,  2260,   102,  2516,  1064,
             3793,  1064, 10670,   102, 29291,  9363,  2890,  1064,  2613,  1064,
             1015,  1012,  1014,   102, 16012,  1064,  3793,  1064,  5076,  2022,
            28370,  2631,  1041,   102,  2055,  1064,  3793,  1064,  3652,  2039,
             1010,  5076,  2022,   102,     0,     0,     0,     0,     0,     0,
                0,     0,     0],
           [  101,  2171,  1996, 18429,  2711,   102,  4635,  1064,  2613,  1064,
             1017,   102,  2711, 18442,  1064,  3793,  1064,  6795, 12098,  2532,
            11314,  1004,   102,  2287,  1064,  2613,  1064,  6421,  1012,  1014,
              102,  2345,  5172,  1064,  2613,  1064, 28278,  8889,   102,  4696,
             1064,  3793,  1064,  4827,  1004,  7027,   102,  3120,  1064,  3793,
             1064,  1048,  2615,  2213,  2232,   102,  2406,  1064,  3793,  1064,
             2605,   102,  2110,  1064,  3793,  1064, 16660,   102,  2103,  1064,
             3793,  1064,  3000,   102,  3029,  1064,  3793,  1064,  1048,  2615,
             2213,  2232, 22078,   102,  2969, 21565,  1064,  2613,  1064,  6270,
              102,  5907,  1064,  3793,  1064,  1049,   102,  4182, 13701,  1064,
             3793,  1064,  4085,  1011,  6021,  1011,  5709,   102,  2516,  1064,
             3793,  1064,  3472,  1998,  5766,   102, 29291,  9363,  2890,  1064,
             2613,  1064,   102, 16012,  1064,  3793,  1064,  6795, 12098,  2532,
            11314, 22558,   102,  2055,  1064,  3793,  1064, 12098,  2532, 11314,
             4593, 15854,   102]]], device='cuda:0'),
  'segment_ids': tensor([[[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1],
           [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1],
           [0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            1, 1, 1, 1, 1]]], device='cuda:0'),
  'context_token_positions': tensor([[[0, 1, 2, 3, 4],
           [0, 1, 2, 3, 4],
           [0, 1, 2, 3, 4]]], device='cuda:0'),
  'column_token_position_to_column_ids': tensor([[[17, 17, 17, 17, 17, 17,  0,  0,  0,  0,  0, 17,  1,  1,  1,  1,  1,
             1,  1,  1,  1, 17,  2,  2,  2,  2,  2,  2,  2, 17,  3,  3,  3,  3,
             3,  3,  3,  3, 17,  4,  4,  4,  4,  4, 17,  5,  5,  5,  5,  5,  5,
             5,  5, 17,  6,  6,  6,  6,  6,  6, 17,  7,  7,  7,  7,  7, 17,  8,
             8,  8,  8,  8, 17,  9,  9,  9,  9,  9, 17, 10, 10, 10, 10, 10, 10,
            17, 11, 11, 11, 11, 11, 17, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
            17, 13, 13, 13, 13, 13, 17, 14, 14, 14, 14, 14, 14, 14, 14, 14, 17,
            15, 15, 15, 15, 15, 15, 15, 15, 15, 17, 16, 16, 16, 16, 16, 16, 16,
            16, 16, 17, 17, 17, 17, 17],
           [17, 17, 17, 17, 17, 17,  0,  0,  0,  0,  0, 17,  1,  1,  1,  1,  1,
             1,  1,  1, 17,  2,  2,  2,  2,  2,  2,  2, 17,  3,  3,  3,  3,  3,
             3,  3, 17,  4,  4,  4,  4,  4, 17,  5,  5,  5,  5,  5, 17,  6,  6,
             6,  6,  6,  6, 17,  7,  7,  7,  7,  7, 17,  8,  8,  8,  8,  8, 17,
             9,  9,  9,  9,  9, 17, 10, 10, 10, 10, 10, 10, 17, 11, 11, 11, 11,
            11, 17, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 17, 13, 13, 13, 13,
            13, 17, 14, 14, 14, 14, 14, 14, 14, 14, 14, 17, 15, 15, 15, 15, 15,
            15, 15, 15, 15, 17, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17,
            17, 17, 17, 17, 17, 17, 17],
           [17, 17, 17, 17, 17, 17,  0,  0,  0,  0,  0, 17,  1,  1,  1,  1,  1,
             1,  1,  1,  1,  1, 17,  2,  2,  2,  2,  2,  2,  2, 17,  3,  3,  3,
             3,  3,  3,  3, 17,  4,  4,  4,  4,  4,  4,  4, 17,  5,  5,  5,  5,
             5,  5,  5,  5, 17,  6,  6,  6,  6,  6, 17,  7,  7,  7,  7,  7, 17,
             8,  8,  8,  8,  8, 17,  9,  9,  9,  9,  9,  9,  9,  9,  9, 17, 10,
            10, 10, 10, 10, 10, 17, 11, 11, 11, 11, 11, 17, 12, 12, 12, 12, 12,
            12, 12, 12, 12, 12, 17, 13, 13, 13, 13, 13, 13, 13, 17, 14, 14, 14,
            14, 14, 14, 17, 15, 15, 15, 15, 15, 15, 15, 15, 15, 17, 16, 16, 16,
            16, 16, 16, 16, 16, 16, 17]]], device='cuda:0'),
  'sequence_mask': tensor([[[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 0., 0., 0., 0.],
           [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0.,
            0., 0., 0., 0., 0., 0., 0.],
           [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
            1., 1., 1., 1., 1., 1., 1.]]], device='cuda:0'),
  'context_token_mask': tensor([[1., 1., 1., 1., 1.]], device='cuda:0'),
  'table_mask': tensor([[[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
           [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
           [1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]]],
         device='cuda:0'),
  'column_mask': tensor([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]],
         device='cuda:0')},
 'instances': [{'rows': [{'tokens': ['[CLS]',
      'name',
      'the',
      'richest',
      'person',
      '[SEP]',
      'rank',
      '|',
      'real',
      '|',
      '1',
      '[SEP]',
      'person',
      '##name',
      '|',
      'text',
      '|',
      'el',
      '##on',
      'mu',
      '##sk',
      '[SEP]',
      'age',
      '|',
      'real',
      '|',
      '50',
      '.',
      '0',
      '[SEP]',
      'final',
      '##worth',
      '|',
      'real',
      '|',
      '219',
      '##00',
      '##0',
      '[SEP]',
      'category',
      '|',
      'text',
      '|',
      'automotive',
      '[SEP]',
      'source',
      '|',
      'text',
      '|',
      'tesla',
      ',',
      'space',
      '##x',
      '[SEP]',
      'country',
      '|',
      'text',
      '|',
      'united',
      'states',
      '[SEP]',
      'state',
      '|',
      'text',
      '|',
      'texas',
      '[SEP]',
      'city',
      '|',
      'text',
      '|',
      'austin',
      '[SEP]',
      'organization',
      '|',
      'text',
      '|',
      'tesla',
      '[SEP]',
      'self',
      '##made',
      '|',
      'real',
      '|',
      'true',
      '[SEP]',
      'gender',
      '|',
      'text',
      '|',
      'm',
      '[SEP]',
      'birth',
      '##date',
      '|',
      'text',
      '|',
      '1971',
      '-',
      '06',
      '-',
      '28',
      '[SEP]',
      'title',
      '|',
      'text',
      '|',
      'ceo',
      '[SEP]',
      'philanthropy',
      '##sco',
      '##re',
      '|',
      'real',
      '|',
      '1',
      '.',
      '0',
      '[SEP]',
      'bio',
      '|',
      'text',
      '|',
      'el',
      '##on',
      'mu',
      '##sk',
      'is',
      '[SEP]',
      'about',
      '|',
      'text',
      '|',
      'mu',
      '##sk',
      'was',
      'accepted',
      'to',
      '[SEP]'],
     'segment_a_length': 6,
     'column_spans': [{'first_token': (6, 7),
       'column_name': (6, 7),
       'other_tokens': [7, 9],
       'type': (8, 9),
       'value': (10, 11),
       'whole_span': (6, 11)},
      {'first_token': (12, 13),
       'column_name': (12, 14),
       'other_tokens': [14, 16],
       'type': (15, 16),
       'value': (17, 21),
       'whole_span': (12, 21)},
      {'first_token': (22, 23),
       'column_name': (22, 23),
       'other_tokens': [23, 25],
       'type': (24, 25),
       'value': (26, 29),
       'whole_span': (22, 29)},
      {'first_token': (30, 31),
       'column_name': (30, 32),
       'other_tokens': [32, 34],
       'type': (33, 34),
       'value': (35, 38),
       'whole_span': (30, 38)},
      {'first_token': (39, 40),
       'column_name': (39, 40),
       'other_tokens': [40, 42],
       'type': (41, 42),
       'value': (43, 44),
       'whole_span': (39, 44)},
      {'first_token': (45, 46),
       'column_name': (45, 46),
       'other_tokens': [46, 48],
       'type': (47, 48),
       'value': (49, 53),
       'whole_span': (45, 53)},
      {'first_token': (54, 55),
       'column_name': (54, 55),
       'other_tokens': [55, 57],
       'type': (56, 57),
       'value': (58, 60),
       'whole_span': (54, 60)},
      {'first_token': (61, 62),
       'column_name': (61, 62),
       'other_tokens': [62, 64],
       'type': (63, 64),
       'value': (65, 66),
       'whole_span': (61, 66)},
      {'first_token': (67, 68),
       'column_name': (67, 68),
       'other_tokens': [68, 70],
       'type': (69, 70),
       'value': (71, 72),
       'whole_span': (67, 72)},
      {'first_token': (73, 74),
       'column_name': (73, 74),
       'other_tokens': [74, 76],
       'type': (75, 76),
       'value': (77, 78),
       'whole_span': (73, 78)},
      {'first_token': (79, 80),
       'column_name': (79, 81),
       'other_tokens': [81, 83],
       'type': (82, 83),
       'value': (84, 85),
       'whole_span': (79, 85)},
      {'first_token': (86, 87),
       'column_name': (86, 87),
       'other_tokens': [87, 89],
       'type': (88, 89),
       'value': (90, 91),
       'whole_span': (86, 91)},
      {'first_token': (92, 93),
       'column_name': (92, 94),
       'other_tokens': [94, 96],
       'type': (95, 96),
       'value': (97, 102),
       'whole_span': (92, 102)},
      {'first_token': (103, 104),
       'column_name': (103, 104),
       'other_tokens': [104, 106],
       'type': (105, 106),
       'value': (107, 108),
       'whole_span': (103, 108)},
      {'first_token': (109, 110),
       'column_name': (109, 112),
       'other_tokens': [112, 114],
       'type': (113, 114),
       'value': (115, 118),
       'whole_span': (109, 118)},
      {'first_token': (119, 120),
       'column_name': (119, 120),
       'other_tokens': [120, 122],
       'type': (121, 122),
       'value': (123, 128),
       'whole_span': (119, 128)},
      {'first_token': (129, 130),
       'column_name': (129, 130),
       'other_tokens': [130, 132],
       'type': (131, 132),
       'value': (133, 138),
       'whole_span': (129, 138)}],
     'context_length': 5,
     'context_span': (0, 5),
     'column_token_position_to_column_ids': [65535,
      65535,
      65535,
      65535,
      65535,
      65535,
      0,
      0,
      0,
      0,
      0,
      65535,
      1,
      1,
      1,
      1,
      1,
      1,
      1,
      1,
      1,
      65535,
      2,
      2,
      2,
      2,
      2,
      2,
      2,
      65535,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      3,
      65535,
      4,
      4,
      4,
      4,
      4,
      65535,
      5,
      5,
      5,
      5,
      5,
      5,
      5,
      5,
      65535,
      6,
      6,
      6,
      6,
      6,
      6,
      65535,
      7,
      7,
      7,
      7,
      7,
      65535,
      8,
      8,
      8,
      8,
      8,
      65535,
      9,
      9,
      9,
      9,
      9,
      65535,
      10,
      10,
      10,
      10,
      10,
      10,
      65535,
      11,
      11,
      11,
      11,
      11,
      65535,
      12,
      12,
      12,
      12,
      12,
      12,
      12,
      12,
      12,
      12,
      65535,
      13,
      13,
      13,
      13,
      13,
      65535,
      14,
      14,
      14,
      14,
      14,
      14,
      14,
      14,
      14,
      65535,
      15,
      15,
      15,
      15,
      15,
      15,
      15,
      15,
      15,
      65535,
      16,
      16,
      16,
      16,
      16,
      16,
      16,
      16,
      16,
      65535],
     'token_ids': [101,
      2171,
      1996,
      18429,
      2711,
      102,
      4635,
      1064,
      2613,
      1064,
      1015,
      102,
      2711,
      18442,
      1064,
      3793,
      1064,
      3449,
      2239,
      14163,
      6711,
      102,
      2287,
      1064,
      2613,
      1064,
      2753,
      1012,
      1014,
      102,
      2345,
      5172,
      1064,
      2613,
      1064,
      20636,
      8889,
      2692,
      102,
      4696,
      1064,
      3793,
      1064,
      12945,
      102,
      3120,
      1064,
      3793,
      1064,
      26060,
      1010,
      2686,
      2595,
      102,
      2406,
      1064,
      3793,
      1064,
      2142,
      2163,
      102,
      2110,
      1064,
      3793,
      1064,
      3146,
      102,
      2103,
      1064,
      3793,
      1064,
      5899,
      102,
      3029,
      1064,
      3793,
      1064,
      26060,
      102,
      2969,
      21565,
      1064,
      2613,
      1064,
      2995,
      102,
      5907,
      1064,
      3793,
      1064,
      1049,
      102,
      4182,
      13701,
      1064,
      3793,
      1064,
      3411,
      1011,
      5757,
      1011,
      2654,
      102,
      2516,
      1064,
      3793,
      1064,
      5766,
      102,
      29291,
      9363,
      2890,
      1064,
      2613,
      1064,
      1015,
      1012,
      1014,
      102,
      16012,
      1064,
      3793,
      1064,
      3449,
      2239,
      14163,
      6711,
      2003,
      102,
      2055,
      1064,
      3793,
      1064,
      14163,
      6711,
      2001,
      3970,
      2000,
      102]},
    {'tokens': ['[CLS]',
      'name',
      'the',
      'richest',
      'person',
      '[SEP]',
      'rank',
      '|',
      'real',
      '|',
      '2',
      '[SEP]',
      'person',
      '##name',
      '|',
      'text',
      '|',
      'jeff',
      'be',
      '##zos',
      '[SEP]',
      'age',
      '|',
      'real',
      '|',
      '58',
      '.',
      '0',
      '[SEP]',
      'final',
      '##worth',
      '|',
      'real',
      '|',
      '1710',
      '##00',
      '[SEP]',
      'category',
      '|',
      'text',
      '|',
      'technology',
      '[SEP]',
      'source',
      '|',
      'text',
      '|',
      'amazon',
      '[SEP]',
      'country',
      '|',
      'text',
      '|',
      'united',
      'states',
      '[SEP]',
      'state',
      '|',
      'text',
      '|',
      'washington',
      '[SEP]',
      'city',
      '|',
      'text',
      '|',
      'seattle',
      '[SEP]',
      'organization',
      '|',
      'text',
      '|',
      'amazon',
      '[SEP]',
      'self',
      '##made',
      '|',
      'real',
      '|',
      'true',
      '[SEP]',
      'gender',
      '|',
      'text',
      '|',
      'm',
      '[SEP]',
      'birth',
      '##date',
      '|',
      'text',
      '|',
      '1964',
      '-',
      '01',
      '-',
      '12',
      '[SEP]',
      'title',
      '|',
      'text',
      '|',
      'entrepreneur',
      '[SEP]',
      'philanthropy',
      '##sco',
      '##re',
      '|',
      'real',
      '|',
      '1',
      '.',
      '0',
      '[SEP]',
      'bio',
      '|',
      'text',
      '|',
      'jeff',
      'be',
      '##zos',
      'founded',
      'e',
      '[SEP]',
      'about',
      '|',
      'text',
      '|',
      'growing',
      'up',
      ',',

### DEBUG